<% provide(:title, "Work As") %>
<div class="category">
		<%= render '/work_as/menu'%>
</div>
<div class="info">	
	<div class="header2">Вакансії</div>
	<br/>
	<div class="sorting">
		<b>По імені:</b><%= link_to image_tag("../str.jpeg", size:"20x20" ), work_as_path(sort: 'name_asc')%><%= link_to image_tag("../str1.jpeg", size:"20x20"), work_as_path(sort: 'name_desc')%>
		<b>По ціні:</b><%= link_to image_tag("../str.jpeg", size:"20x20" ), work_as_path(sort: 'price_asc')%><%= link_to image_tag("../str1.jpeg", size:"20x20"), work_as_path(sort: 'price_desc')%>
	</div>
	<div class="souls">
		<% @works.each do |work| %>
			<div class="soul grid_3">
				<div style="min-height:150px">
					<%= link_to image_tag(work.image_url || "product_blank.gif", :alt => "home image")%>
				</div>	
				
				<div>
					<%= work.name%>
					<p><%= number_to_currency(work.price, unit: "грн", separator: ",", delimiter: "", format: "%n %u")%></p>
				</div>

				<% if current_user.is_a? Laird  %>
                    <% if current_user.id == work[:laird_id] %>
                        <%= link_to 'Редагувати вакансію', edit_work_a_url(work.id), class: 'add_to_card' %>
                    <% end %>
                <% else %>
                    <%= link_to "Замовити співбесіду", "#", class: 'add_to_card' %>
                <% end %>
			</div>	
		<%end%>
	</div>
	<div class="pages">
	<%= will_paginate @works%>
	</div>
</div>
