<div>
	<div class="header2">Поміщик</div>
	<br/>
    <% if @lairds.id == current_user.id %>
        <%= link_to 'Edit info', edit_laird_path(current_user.id) %>
    <% end %>
    <br/>

	<div class="shot_info">
		<table class="tab">
			<tr>
				<td rowspan="5" width="50%"><p><%= image_tag('product_blank.gif', width: "250", alt: "photo lairds") %></p></td>
				<td width="100px" ><h4>Назва: </h4></td>
				<td width="150px" align="right"><%= @lairds.name %></td>
			</tr>
			<tr>
				<td><h4>Телефон: </h4></td>
				<td><%= @lairds.phone %></td>
			</tr>
			<tr>
				<td><h4>email: </h4></td>
				<td><%= @lairds.email %></td>
			</tr>
			<tr>
				<td><h4>Посади: </h4></td>
				<td><%= @lairds.work_as_id %></td>
			</tr>
			<tr>
				<td><h4>Статус: </h4></td>
				<td><%= @lairds.status %></td>
			</tr>
		</table>	
	</div>
	<div class="full_info">
		<%= @lairds.describe %>
	</div>
</div>	


